<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/jquery-1.12.1.min.js"></script>
</head>

<body>

<div class="wrapper">

	<!-- <header class="header">
		<div class="logo-container">
			<div class="logo">
				<a href="#">Your<i>/</i>logo</a>
			</div>
		</div>
		<nav>
			<ul>
				<li><a href="#">Lorem ipsum</a></li>
				<li><a href="#">dolor sit amet</a></li>
				<li><a href="#">consectetur</a></li>
				<li><a href="#">adipisicing</a></li>
				<li><a href="#">incididunt</a></li>
			</ul>
		</nav>
	</header> --><!-- .header-->

	<main class="content">
		<div class="head">
			<h1 class="page-title t-center">Funky Mnemonic Shortener</h1>
			<div class="join-bitly t-center">Mnemonic and memorable links to your content.</div>
		</div>
		<div class="container">
			<form class="cf" action="/shorten_url">
				<input id="submit" class="button" type="submit" value="Shorten">
				<div class="oh">
					<input id="shorten_url" class="shorten-input" type="text" value="http://hackernews.com" placeholder="Paste a link to shorten it" name="url" taborder="1" oninput="enableform()">
				</div>
			</form>
		</div>		
	</main><!-- .content -->

</div><!-- .wrapper -->

<footer class="footer">
    <span>Mailto: </span><a href="mailto:nyddle@gmail.com">nyddle@gmail.com</a> | <a href="mailto:eugenebolotin@gmail.com">eugenebolotin@gmail.com</a>
</footer><!-- .footer -->

<script>
    function enableform() {
        $("#submit").prop('disabled', false);
    }

    $(document).ready(function() {
        $('form[class=cf]').submit(function(){
            $.post($(this).attr('action'), $(this).serialize(), function(res){
                var result = JSON.parse(res);
                $("#submit").prop('disabled', true);
                $("#shorten_url").val("http://" + window.location.host + "/" + result.shortened);
                $("#shorten_url").select();
            });

            return false; // prevent default action
        });
    });
</script>

</body>
</html>
