<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<title></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link href="/static/css/style.css" rel="stylesheet">
</head>

<body>

<div class="wrapper">

	<!-- <header class="header">
		<div class="logo-container">
			<div class="logo">
				<a href="#">Your<i>/</i>logo</a>
			</div>
		</div>
		<nav>
			<ul>
				<li><a href="#">Lorem ipsum</a></li>
				<li><a href="#">dolor sit amet</a></li>
				<li><a href="#">consectetur</a></li>
				<li><a href="#">adipisicing</a></li>
				<li><a href="#">incididunt</a></li>
			</ul>
		</nav>
	</header> --><!-- .header-->

	<main class="content">
		<div class="head">
			<h1 class="page-title t-center">SHORTEN. SHARE. MEASURE.</h1>
			<div class="join-bitly t-center">Sed placerat accumsan ligula. Aliquam felis magna, congue quis, tempus eu, aliquam vitae, ante.</div>
		</div>
		<div class="container">
			<form class="cf">
				<input class="button" type="submit" value="Shorten">
				<div class="oh">
					<input id="shorten_url" class="shorten-input" type="text" value="http://bit.ly/1TFGCGp" placeholder="Paste a link to shorten it" name="url" taborder="1">
				</div>
			</form>
			<div class="shortened_link">
				<div class="unauth-title">
					<a href="https://wallpaperscraft.com/image/notebook_desk_silhouette_people_glass_73394_800x600.jpg" class="article-title">https://wallpaperscraft.com/image/notebook_desk_silhouette_people_glass_73394_800x600.jpg</a>
				</div>
				<div class="unauth-title-url">
					<a href="https://wallpaperscraft.com/image/notebook_desk_silhouette_people_glass_73394_800x600.jpg" class="article-title smaller">https://wallpaperscraft.com/image/notebook_desk_silhouette_people_glass_73394_800x600.jpg</a>
				</div>
				<div class="unauth_capsule clearfix">
					<div class="fl-r">						
						<a href="#" class="info_page"> 0
							<i class="fa-bar-chart-o"></i>
						</a>
					</div>
					<a href="http://bit.ly/1TFGCGp" class="short-url oh">http://bit.ly/1TFGCGp</a>
				</div>
			</div>
		</div>		
	</main><!-- .content -->

</div><!-- .wrapper -->

<footer class="footer">
	<nav>
		<ul>
			<li class="active"><a href="#">Lorem ipsum</a></li>
			<li><a href="#">dolor sit amet</a></li>
			<li><a href="#">consectetur</a></li>
			<li><a href="#">adipisicing</a></li>
			<li><a href="#">incididunt</a></li>
		</ul>
	</nav>
</footer><!-- .footer -->

</body>
</html>
